{
  "presets": [
    ["es2015", {
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": ["transform-object-rest-spread",[
    "component",
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }
  ],"syntax-dynamic-import","transform-vue-jsx", "transform-runtime"]
}